@model IEnumerable<_3TierApp.WEB.Models.AccessTimeViewModel>

@{
    ViewBag.Title = "ShowAccessTime";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessDateTime)
                @*@item.Birth.ToDateTime(TimeOnly.MinValue).ToString("dd/MM/yyyy")*@
            </td>
        </tr>
    }


</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>